/* card */
.card {
    /* card */


    /* width: 370px;
    height: 670px; */
    max-width: 370px;
    min-height: 560px;

    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

 

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: relative;
    /* width: 370px;
    height: 670px; */
    max-height: 700px;
    overflow: hidden;

    /* background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px; */


}

/* card-content */
.card-content {

    /* width: 370px;
    height: 670px; */


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;


}

/* card-background */
.card-background {

    position: absolute;
    width: 4032px;
    height: 3024px;
    left: calc(50% - 4032px/2 + 51px);
    top: calc(50% - 3024px/2 + 67px);

    /* background: url(card-background.jpg); */
    opacity: 0.26;


}

/* stamp */
.stamp-holder {
    box-sizing: border-box;
    position: absolute;
    width: 232px;
    height: 297px;
    right: 15px;
    margin: 0px;
    padding: 0 10px 13px 0;
    top: 38px;
    /* border: 1px solid #000000; */
}

.stamp-photo {
    position: absolute;
    width: 209px;
    height: 257px;
    left: calc(50% - 209px/2 - 0.5px);
    top: calc(50% - 257px/2 + 3px);

    background: #FFFFFF;
}

/* seal */
.seal {

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px 0px;
    gap: 10px;

    position: absolute;
    width: 150px;
    height: 150px;
    left: -73.11px;
    bottom: -66px;

    border: 5px solid #008adb;
    border-radius: 150px;
    transform: rotate(28deg);


}

.seal-color {
    filter: invert(26%) sepia(53%) saturate(2874%) hue-rotate(187deg) brightness(91%) contrast(99%);

}

/* seal-icon */
.seal-icon {

    width: 120px;
    height: 130px;

    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #0164ac;

    transform: rotate(28deg);

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;


}

.text-shadow {
    text-shadow:
        2px 0px 0px white,
        /* Right shadow */
        -2px 0px 0px white,
        /* Left shadow */
        0px 2px 0px white,
        /* Bottom shadow */
        0px -2px 0px white;
    /* Top shadow */
}

/* sender */
.sender {

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    position: absolute;
    width: 269px;
    height: 58px;
    left: calc(50% - 269px/2 - 0.5px);
    top: 402px;



}

/* label */
.label {

    width: 75px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    border: 1px solid #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;


}

/* sender-info */
.sender-info {

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 180px;
    height: 58px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;


}

/* sender-name */
.sender-name {

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 180px;
    height: 24px;

    border-bottom: 1px dashed #000000;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;


}

/* sender-name-text */
.sender-name-text {

    width: 105px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    border: 0.3px solid #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;


}

/* sender-grade */
.sender-grade {

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 180px;
    height: 24px;

    border-bottom: 1px dashed #000000;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;


}

/* sender-grade-text */
.sender-grade-text {

    width: 133px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    border: 0.3px solid #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}