/* card */
.card {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: relative;
    width: 416px;
    height: 683px;

    background: #FFFFFF;
    background-image: url(card-background.png);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

/* card-content */
.card-content {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 15px;

    width: 416px;
    height: 683px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}