.seal {

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px 0px;
    gap: 10px;

    position: absolute;
    width: 150px;
    height: 150px;
    left: -73.11px;
    bottom: -66px;

    border: 5px solid #008adb;
    border-radius: 150px;
    transform: rotate(28deg);
}

.seal-color {

    filter: invert(26%) sepia(53%) saturate(2874%) hue-rotate(187deg) brightness(91%) contrast(99%);
}

/* seal-icon */
.seal-icon {

    width: 100;
    height: 130px;

    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #0164ac;

    transform: rotate(28deg);

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}
.sign-info {

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 10px;
    width: 80px;
    height: 80px;

    border: 3px solid #008adb;
    border-radius: 100px;

    position: absolute;
    left: 50%;
    right: 0%;
    top: 60.33%;
    bottom: -0.33%;
}

